$primary-color: #6ba6ff;
$secondary-color: rgba(215, 227, 215, 0.8);
$status-color: rgb(102, 173, 173);

$gradient-background: linear-gradient(
  246.08deg,
  rgba(255, 243, 235, 0.92) 2.67%,
  rgba(242, 225, 248, 0.92) 74.35%
);

$sidenav-width: 100%;
