.message-l {
  margin: 30px 10px 30px 10px;
  width: 98.5%;
  .container {
    box-shadow: 0.1em 0.3em 0.5em 0.1em rgba(207, 201, 201, 0.418);
    width: 48%;
    // border: 1px solid #ababab;
    display: grid;
    grid-template-columns: minmax(92px, 92px) 15fr;
    transition: transform 200ms ease-in-out;
    &:hover {
      transform: translate(5px);
    }
    .left-section {
      text-align: center;
      .image-holder {
        margin: 10px 5px;
        height: 80px;
        overflow: hidden;
        border-radius: 100%;
        cursor: pointer;
        transition: all 1s ease-in-out;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        &:hover {
          filter: blur(2px);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
    .right-section {
      p {
        margin-top: 25px;
      }
    }
  }
}

@media only screen and(max-width:800px) {
  .message-l {
    .container {
      width: 99%;
      height: auto;
    }
  }
}
